<style>
html, body{
height:100%;,
overflow: hidden;
}
body{
  margin:0;
}
div.card {
 font-family: arial;
 font-size: 40px;
 text-align: center;
 color: black;
 background-color: #1e1e1e;
 width: 100%;
 height: 50%;
 position: fixed;
 top:0;
 z-index:1;
}

canvas {
      height: 100%;
      width: 100%;
      position: relative;
      z-index:0;
      background-color: gray;
    }
    
</style>
